// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');
// body {
//   font-family: 'Work Sans', sans-serif;
//   margin: 0;
//   padding: 0;
//   font-size: 16px;
//   width: 100vw;
//   height: 100vh;
//   color: #2c3333;
//   font-weight: 400;
//   overflow: hidden;
// }

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   text-decoration: none;
// }

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

// header {
//   background: linear-gradient(132.75deg, #395b64 0%, #a5c9ca 96.37%);
//   display: flex;
//   justify-content: center;
//   height: 60px;

//   .header-container {
//     max-width: 1440px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;

//     .logo {
//       font-family: 'Pacifico', cursive;
//       font-size: 1.6rem;
//       color: #ffffff;
//     }

//     .nav-menu {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       gap: 12px;

//       button {

//         &.gre-btn {
//           background: rgb(231 246 242 / 34%);
//           padding: 8px 24px;
//           border: none;
//           border-radius: 2px;
//           color: #fff;
//           font-weight: 500;
//           line-height: 1.5rem;
//         }
//       }

//       a {
//         position: relative;
//         display: flex;
//         width: 40px;
//         height: 40px;
//         justify-content: center;
//         align-items: center;
//         background: #e7f6f2;
//         border-radius: 50%;
//         font-size: 1.6rem;
//         color: #395b64;
//         font-weight: 600;
//         border: 2px solid rgb(57 91 100 / 46%);

//         img {
//           position: absolute;
//           right: -3px;
//           bottom: -4px;
//           width: 18px;
//           background: #a4c8c9;
//           border-radius: 50px;
//           padding: 3px;
//         }
//       }
//     }
//   }
// }

.sigma-editor-area {
  display: flex;
  width: 100%;

  aside {
    display: flex;
    position: fixed;
    top: 70px;
    height: calc(100vh - 70px);
    bottom: 0;
    right: 0;
    z-index: 99;
    transition: 0.5s all;
    width: 80px;

    .toggle-btn-sidebar {
        position: absolute;
        top: 50%;
        left: -17px;

        a {
            width: 20px;
            height: 96px;
            background: url('/assets/images/sidebar-collapes.png') no-repeat;
            background-size: auto 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 9px 0 0 9px;
            position: relative;

            &.active {

                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .sm-side {
      flex: 0 0 82px;
      background: #171616;

      a {
        margin-left: 6px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        height: 110px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        gap: 6px;
        font-weight: 500;
        color: #959596;
        position: relative;
        position: relative;

        img {
          width: 20px;
        }

        &.active {
          background: #252627;

          &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0;
            height: 9px;
            background: #171616;
            border-radius: 0 0 9px 0;
            z-index: 9;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0;
            height: 9px;
            background: #171616;
            border-radius: 0 9px 0 0;
            z-index: 9;
        }

          img {
            filter: brightness(0) saturate(100%) invert(71%) sepia(100%) saturate(0%) hue-rotate(13deg) brightness(105%) contrast(105%);
          }

          span {
            color: #eaeaea;
          }
        }

        &:first-child {
            margin-top: 35px;
        }
      }
    }

    .open-side {
      flex: 0 0 454px;
      padding: 0 20px;
      overflow: hidden;
      background: #252627;
      overflow-y: auto;
      position: relative;

      label {
        color: #eaeaea;
        font-weight: 500;
        padding: 10px 0;
        display: block;
      }

      .selective-area-section {

        .listing-imgs {
          display: flex;
          flex-wrap: wrap;
          gap: 2%;
          padding: 35px 0 20px;
          cursor: pointer;

          img {
            width: 49%;
            height: auto;
            margin-bottom: 2%;
          }
        }

        .upload-listing {

          .drag-area {
            background-color: hsla(0,0%,100%,.07);
            border-radius: 4px;
            padding: 24px 46px;
            margin-bottom: 16px;
            border: 2px dashed hsla(0,0%,100%,.4);
            color: #eaeaea;
            font-size: 0.8rem;
            line-height: 1.5;
            text-align: center;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
        position: absolute;
        right: 6px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    }
  }

  &.collapes-side {

    aside {
        width: 536px;
    }

    .perform-area {
        width: calc(100% - 525px);
    }
  }
}

.perform-area {
  display: block;
  width: calc(100% - 108px);
  padding: 56px 24px 24px;
  position: relative;
  transition: 0.5s all;

  .editor-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 2%), 0px 0px 2px rgb(0 0 0 / 5%), 0px 1px 4px rgb(0 0 0 / 8%);

    .editor-fix {
        display: flex;
        gap: 15px;
        align-items: center;

        .add-space {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    button {
      padding: 6px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 4px;
      background: transparent;

      img {
        width: 18px;
      }
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.selected-template {
  background: #fff;
  width: 526px;
  height: 407px;
  margin: 75px auto 0;

  img {
    width: 100%;
  }
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  background: #fff;
  margin: 40px auto 0;
  border-collapse: collapse;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.drop {
  height: 140px;
  border: 1px solid #000;
  width: 185px;

  img {
    width: 100%;
    height: 100px;
  }
  input {
    width: 100%;
    height: 50px;
    background: transparent;
  }
}
.activeCell {
  border: 5px solid #ff0000;
}

.TextOverImage {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
}

.editorColor div.ql-editor {
  background: lightgrey !important;
}

.res-aside-bg {
  display: none;
}

@media (max-width: 992px) {
    .perform-area {
        width: 100% !important;
    }

    .sigma-editor-area {

        aside {
            top: 155%;
            width: 94% !important;
            z-index: 999;
            height: calc(100vh - 70px);
            right: unset;

            .toggle-btn-sidebar {
                width: 60px;
                height: 60px;
                visibility: visible;
                opacity: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                position: fixed;
                right: 30px;
                left: unset;
                top: unset;
                bottom: 40px;


                a {
                    width: 100%;
                    height: 100%;
                    background: #171616;
                    border-radius: 90px;

                    img {
                        transform: rotate(90deg);
                    }
                }
            }

            .sm-side {
                border-radius: 9px 0 0 0;
            }

            .open-side {
                flex: 1;
                border-radius: 0 9px 0 0;
            }
        }

        &.collapes-side {

            aside {
                top: 70px;
                z-index: 999;
                height: calc(100vh - 70px);
                right: unset;

                .res-aside-bg {
                  display: unset;
                    position: absolute;
                    top: -70px;
                    right: 0;
                    bottom: 0;
                    left: -6%;
                    background: #17161675;
                    width: calc(100vw + 6%);
                    height: calc(100vh + 70px);
                    z-index: 0;
                }

                // .sm-side {
                //     a {
                //         &::before,
                //         &::after {
                //             background: #111111;
                //         }
                //     }
                // }
            }
        }
    }
}

@media (max-width: 767px) {

    .perform-area {
        padding: 100px 0 0;

        .editor-header {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
        }
    }
}
