<div class="container">
    <div class="">
        <h1 class="monitor-text">
            Monitor Details
        </h1>
        <!-- <button style="float: right;color: orange;" (click)="savePlaylist()">Save</button> -->
        <hr style="margin: 30px 0 0;">
    </div>
    <div class="container">
        <div class="grid">
            <div class="col-12 md:col-5 lg:col-5">
                <div class="monitor-box">
                    <img src="../../../../assets/images/Real Estate 3.jpeg" alt="" class="monitor-img">
                    <h2 class="text-h2">No screenshot found</h2>
                    <div class="install-extension">
                        <p class="install-text-p">Install the Yodeck Extension in the browser of your registered screen
                            to
                            see screenshots of it. <span>Read more</span></p>
                        <h4 class="install-text-h4">Yodeck Extension</h4>
                    </div>
                </div>
                <button class="monitor-bttn"><span class="pi pi-circle-fill"></span>
                     <span class="bttn-text">{{allRecords?.isConnected==false?'Offline':'Online'}}</span></button>
                <div>
                    <ul class="monitor-ul">
                        <li style="list-style-type: none; margin: 10px 0;">
                            <i class="pi pi-caret-right"></i>
                            <span class="text-p1">Last screenshot:</span>
                            <span style="font-weight: 500;">No screenshot found</span>
                        </li>
                        <li style="list-style-type: none; margin: 10px 0;">
                            <i class="pi pi-caret-right"></i>
                            <span class="text-p1">Last seen online:</span>
                            <span style="font-weight: 500;">Jan 9th, 2023 - 08:05:26</span>
                        </li>
                        <li style="list-style-type: none; margin: 10px 0;">
                            <i class="pi pi-caret-right"></i>
                            <span class="text-p1">Content status:</span>
                            <span style="font-weight: 500;">Updated</span>
                        </li>
                    </ul>
                </div>
                <div class="grid pl-3 pt-5">
                    <button class="Save-bttn"  (click)="PushToMonitor()"  style="cursor: pointer;">
                        <span class="pi pi-send " ></span> Push to this Monitor</button>
                    <!-- <button class="action-bttn">Actions <span class="pi pi-angle-down"></span></button> -->
                </div>
            </div>
            <div class="col-12 md:col-7 lg:col-7">
                <div class="field col p-0">
                    <label class="monitor-label-text">Name*</label><br>
                    <input type="text" pInputText placeholder="" [(ngModel)]="name" class="monitor-input-text">
                </div>
                <!-- <div class="field col p-0 pt-3">
                    <label class="monitor-label-text">Web Player URL</label><br>
                    <a href="https://player.yodeck.com" target="_blank"
                        style="color: #f26f26;">https://player.yodeck.com</a>
                    <br>
                </div> -->
                <!-- <div *ngIf="!isShowInput">
                    <button (click)="showInput('input')" class="register-bttn">Register a Different Device</button>
                </div>
                <div class="field col p-0 " *ngIf="isShowInput">
                    <label class="monitor-label-text">Registration Code</label><br>
                    <input type="text" pInputText placeholder="" class="monitor-input-text">
                </div>
                <div class="py-3 flex" (click)="showInput('description')" *ngIf="!isShowDescription"
                    style="cursor: pointer;">
                    <i class="pi pi-plus-circle mr-2"></i>
                    <span>Add Description</span>
                </div> -->
                <div class="field col p-0 " *ngIf="isShowDescription">
                    <label class="monitor-label-text">Description</label><br>
                    <textarea [rows]="4" [cols]="30" pInputTextarea class="monitor-input-text text-area"></textarea>
                </div>
                <!-- <div class="field">
                    <label class="monitor-label-text">Scheduled Content</label><br>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
                        placeholder="--no schedule--" [style]="{width:'100%' , 'border-radius':'0px'}"></p-dropdown>
                </div> -->
                     <!-- <div class="field">
                    <label class="monitor-label-text">Scheduled Content</label><br>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
                        placeholder="--no schedule--" [style]="{width:'100%' , 'border-radius':'0px'}"></p-dropdown>
                </div> -->
                <div class="field">
                    <label class="monitor-label-text">Select Group</label><br>
                    <div >
                        <p-dropdown [options]="allGroups"  optionLabel="name" [filter]="true" filterBy="name" name="selectGroup" optionValue="_id" [(ngModel)]="selectGroup" (onChange)="GroupSelection($event)"
                            placeholder="Select" [style]="{width:'100%' , 'border-radius':'0px'}"></p-dropdown>
                            
                    </div>
                    <p class="manage-text" (click)="chngeDisplay()">Create Group</p>
                </div>

                <div class="field">
                    <label class="monitor-label-text">Select Playlists</label><br>
                    <div > 
                        <p-multiSelect [disabled]="DisablePlaylist" [options]="allplaylists" [(ngModel)]="SelectedPlaylistInADropDown" optionValue="name" optionLabel="name" [filter]="true" filterBy="name"  (onChange)="SelectPlaylist($event)"
                            placeholder="Select" [style]="{width:'100%' , 'border-radius':'0px'}"></p-multiSelect>
                        <!-- <input type="text" pInputText placeholder="No Playlist Assigned" [(ngModel)]="selectedPlaylists" class="monitor-input-text-2"> -->
                    </div>
                </div>
                <div class="">
                    <p-tabView>
                        <p-tabPanel header="Basic" leftIcon="pi pi-info">
                            <div class="">
                                <div class="grid py-3">
                                    <div class="col-4 p-0">
                                        <p class="tags-text">Tags</p>
                                    </div>
                                    <div class="col-8 p-0 px-3">
                                        <input type="text" pInputText placeholder="" class="tags-input">
                                        <p class="manage-text">Manage Tags</p>
                                    </div>
                                </div>

                                <div class="grid py-3">
                                    <div class="col-4 p-0">
                                        <p class="tags-text">Monitor Orientation <i class="pi pi-question-circle"></i>
                                        </p>
                                    </div>
                                    <div class="col-8 p-0 px-3">
                                        <p-dropdown [options]="layouts" [(ngModel)]="selectedLayout" optionLabel="name"
                                            [filter]="false" filterBy="name" [showClear]="false"
                                            placeholder="Select a Country" [style]="{width:'100%'}">
                                            <ng-template pTemplate="selectedItem">
                                                <div class="country-item country-item-value flex"
                                                    *ngIf="selectedLayout">
                                                    <img src="/assets/images/temfourpiceigth.png"
                                                        [class]="'flag flag-' + selectedLayout.code.toLowerCase()" />
                                                    <div>{{selectedLayout.name}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-country pTemplate="item">
                                                <div class="country-item flex">
                                                    <img src="/assets/images/temfourpiceigth.png"
                                                        [class]="'flag flag-' + country.code.toLowerCase()" />
                                                    <div>{{country.name}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>

                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Sound/Display" leftIcon="pi pi-volume-up">
                            <div class="">
                                <div class="grid py-3">
                                    <div class="col-4 p-0">
                                        <p class="tags-text"><span class="span-text">Pro</span> <span
                                                class="span-text">Enterprise</span> Volume
                                            Schedule <i class="pi pi-question-circle" style="margin-left: 10px;"></i>
                                        </p>
                                    </div>
                                    <div class="col-8 p-0 px-3">
                                        <p-dropdown optionLabel="name" placeholder="--no schedule--"
                                            [style]="{width:'100%' , 'border-radius':'0px','background': '#eee'}"></p-dropdown>
                                        <p class="manage-text">Manage Volume Schedules</p>
                                    </div>
                                </div>

                                <div class="grid pb-3">
                                    <div class="col-4 p-0">
                                        <p class="tags-text">Schedule <i class="pi pi-question-circle"
                                                style="margin-left: 10px;"></i>
                                        </p>
                                    </div>
                                    <div class="col-8 p-0 px-3">
                                        <p-inputSwitch [(ngModel)]="checked"
                                            [style]="{width: '55px',     height: '17px',margin:'8px 0 0'}"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Media Filtering" leftIcon="pi pi-filter-fill">
                            <div class="grid py-3">
                                <div class="col-4 p-0">
                                    <p class="tags-text" style="font-size: 13px;">Enable Media Tag Filtering</p>
                                </div>
                                <div class="col-8 p-0 px-3 ">
                                    <div class="flex">
                                        <p-inputSwitch [(ngModel)]="checked"
                                            [style]="{width: '55px',     height: '17px',margin:'8px 0 0'}"></p-inputSwitch>
                                        <div class="div-text">
                                            <span class="span-text span-text1">Pro</span>
                                            <span class="span-text span-text1">Enterprise</span>
                                        </div>
                                    </div>
                                    <p class="pt-2">
                                        By enabling this option, you can filter <br>
                                        the media shown on this screen,<br>
                                        according to their media tags. <br>
                                        <span style="font-weight: 500; cursor: pointer;">Learn more <i
                                                class="pi pi-angle-right" style="font-size: 10px;"></i></span>
                                    </p>
                                </div>
                            </div>
                            <div class="grid py-3">
                                <div class="col-4 p-0">
                                    <p class="tags-text">Media Tags</p>
                                </div>
                                <div class="col-8 p-0 px-3">
                                    <input disabled type="text" pInputText placeholder="Tags" class="tags-input">
                                    <p class="manage-text" style="opacity: 50%;">Manage Media Tags</p>
                                </div>
                            </div>
                            <div class="grid py-3">
                                <div class="col-4 p-0">
                                    <p class="tags-text">Filtering Mode</p>
                                </div>
                                <div class="col-8 p-0 px-3">
                                    <p-dropdown placeholder="Select filtering mode" [style]="{width:'100%' , 'border-radius':'4px' , 'opacity' : '50%'}"></p-dropdown>
                                </div>
                            </div>









                        </p-tabPanel>
                        <p-tabPanel header="Location" leftIcon="pi pi-compass">
                            <p>D</p>
                        </p-tabPanel>
                        <p-tabPanel header="Status" leftIcon="pi pi-circle">
                            <div class="grid">
                                <div class="col-4 flex justify-content-end">
                                    <p>Screen ID</p>
                                </div>
                                <div class="col-8">
                                    <p>b9c41b827d42464aae2f2bab74634b94</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Status last updated</p>
                                </div>
                                <div class="col-8">
                                    <p>Jan 9th, 2023 - 07:44:58</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Browser Version</p>
                                </div>
                                <div class="col-8">
                                    <p>Chrome 108 on Windows 10</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Software Version</p>
                                </div>
                                <div class="col-8">
                                    <p>12.134.2</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Screen Resolution</p>
                                </div>
                                <div class="col-8">
                                    <p>1366X768</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Player Window Size</p>
                                </div>
                                <div class="col-8">
                                    <p>1366X657</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Storage</p>
                                </div>
                                <div class="col-8">
                                    <p>142.73 GB free of 142.75 GB</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Player Uptime</p>
                                </div>
                                <div class="col-8">
                                    <p>0 Days 00:02:17</p>
                                </div>
                                <div class="col-4 flex justify-content-end">
                                    <p>Player RAM</p>
                                </div>
                                <div class="col-9">
                                    <p></p>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Advanced" leftIcon="pi pi-wrench">
                            <p>F</p>
                        </p-tabPanel>
                        <p-tabPanel header="Emergency Alerts" leftIcon="pi pi-exclamation-triangle">
                            <div class="col-12 p-0">
                                <p>You need to specify below all Emergency Alert Types that each Monitor will accept and
                                    display. For more information, please read the <span class="manage-text">Emergency
                                        Alerts guide.</span></p>
                            </div>
                            <div class="grid py-3">
                                <div class="col-4 p-0 pt-3">
                                    <p class="tags-text">
                                        Emergency Alert Types
                                        Allowed on this Monitor
                                    </p>
                                </div>
                                <div class="col-8 p-0 px-3">
                                    <div class="pt-4">
                                        <button class="add-bttn">Add</button>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
            <p-dialog header="Create Group
            " [(visible)]="display" position="top">
                <input type="text" placeholder="Enter Group Name" (input)="tagCheck($event)" [(ngModel)]="createGroup" pInputText class="tag-dialogue-input">
                <div class="tag-buttons">
                    <button type="button" pButton (click)="chngeDisplay()">Cancel</button>
                    <button type="button" [disabled]=tagButton  pButton class="tag-buttons-create" (click)="createNewGroup()">Create</button>
                </div>
        
            </p-dialog>
        </div>
        
    </div>
  
</div>