<div class="container">
    <div *ngIf="loader==true">
        <div class="site-loader" id="site-loader">
            <span class="loader-spin"></span>
        </div>
    </div>
    <div class="search-display-container">
        <span class="p-input-icon-right search-input" [ngClass]="isFullInput ? 'input-span-full-width': ''">
            <i class="pi pi-search icon-color" (click)="toggleInput(true)"></i>
            <input type="text" (input)="search($event)" pInputText placeholder="Search in All items" class="input-search">
        </span>
        <span class="p-input-icon-left tag-input " (click)="chngeDisplay()">
            <i class="pi pi-tags icon-color"></i>
        </span>
    </div>

    <div class="container2" (click)="toggleInput(false)">
        <div class="margin-top">
            <div>
                <h5>All Items</h5>
            </div>

            <!-- <div class="n-items">
                <p> 10 Items &nbsp; | Per Page : <span class="dropdown-container"><p-dropdown [options]="itemsCount"
                            [(ngModel)]="selectedCount" optionLabel="count" optionValue="count"></p-dropdown></span>
                </p>

            </div> -->
        </div>

        <div style="display: flex; align-items: center; height: 40px;">
            <!-- <button pButton type="button" label="+ Add Folder" ></button>    -->
            <div style="background-color: white; padding: 8px;margin: 5px; border-radius: 3px;">
                <i class="pi pi-th-large
                " style="color: black;"></i>
            </div>

            <div style="background-color: white; padding: 8px;margin: 5px; border-radius: 3px;" (click)="getImages()">
                <i class="pi pi-sync"> </i>

            </div>
        </div>
    </div>
    <p-galleria [value]="[viewImage]" [(visible)]="ShowImage" [(activeIndex)]="activeIndex"
        [containerStyle]="{'max-width': '850px'}" [fullScreen]="true" [showThumbnails]="false" [baseZIndex]="100000">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.image" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.image" style="display: block;" />
            </div>
        </ng-template>
    </p-galleria>

    <p-table [value]="allRecords" sortMode="multiple" [(selection)]="dtSelectedRows" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[10,20,50,100,{showAll:'All'}]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [tableStyle]="{'width': '100%', 'border-bottom-spacing':'10px'}">
        <ng-template pTemplate="header">
            <tr>
                <th style=" background: none;">
                    <p-tableHeaderCheckbox (click)="checkVal()"></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name" style=" background: none; ">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="createdAt" style=" background: none;">Modified <p-sortIcon field="createdAt"></p-sortIcon></th>
                <!-- <th style="width:10%; background: none">Validity </th> -->
                <!-- <th style=" background: none;">Tags </th> -->
                <th style=" background: none;">Assign Tags</th>
                <th style=" background: none;">Actions </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-imageInfo>
            <tr>
                <td>
                    <p-tableCheckbox [value]="imageInfo" (click)="checkVal()"></p-tableCheckbox>
                </td>
                <td>
                    <div style="display:flex; align-items: center;cursor: pointer;">
                        <img (click)="showImage(imageInfo)" [src]='imageInfo.image'
                            style="width: 50px; height: 40px; margin-right:5px ; border:4px solid #EEF2F6">
                        {{imageInfo.name}}
                    </div>
                </td>
                <td>{{imageInfo.createdAt | date}}</td>
                <!-- <td>13/11/1997</td> -->
                <!-- <td>
                    <button pButton pRipple type="button"  icon="pi pi-calendar-plus"
                        class="p-button-success p-button-text" (click)="onValidityClick()">
                         <i class="pi pi-calendar-plus
                        "></i>
                    </button>
                </td> -->
                <!-- <td>
                    <i class="pi pi-images
                    " style="color: green;"></i>
                    <i class="pi pi-video
                    " style="color: black; margin-left: 5px;"></i>
                </td> -->
                <!-- <td>{{imageInfo.labels}}</td> -->
                <!-- (onChange)="AssignLabel($event,imageInfo)" -->
                <!-- <td><p-dropdown  [options]="allLabels" appendTo="body" (onChange)="AssignLabel($event,imageInfo)" optionLabel="name" placeholder="Select Tag" ></p-dropdown ></td> -->
                <td><p-multiSelect [options]="allLabels" appendTo="body" [(ngModel)]="imageInfo.labelsArray" (onChange)="tagList(imageInfo)" optionLabel="name" placeholder="Select Tag" ></p-multiSelect ></td>
                <td>
                    <!-- <p-menubar (click) ="Actions($event,imageInfo.name)"  [baseZIndex]="10000" [autoZIndex]="false" [baseZIndex]="10000" [autoZIndex]="false" [model]="global.items"></p-menubar> -->
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <ul class="actions-ul">
                                <!-- <li class="p-2 list-item">
                                    <i class="pi pi-pencil" style="font-size: 1em"></i>
                                    <span class="ml-2">Edit</span>

                                </li>
                                <li class="p-2 list-item">
                                    <i class="pi pi-copy" style="font-size: 1em"></i>
                                    <span class="ml-2">Duplicate</span>

                                </li> -->
                                <li class="p-2 list-item" (click)="Actions('delete',imageInfo.name)">
                                    <i class="pi pi-trash" style="font-size: 1em; color: #DD5A43;"></i>
                                    <span class="ml-2" style="color: #DD5A43;" >Delete</span>
                                </li>
                            </ul>
                        </ng-template>
                    </p-overlayPanel>
                    <button class="three-dots-btn" type="text" pButton label="..." (click)="op.toggle($event)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="30" class="text-center">
                <strong *ngIf="noRecord">No records found</strong>
              </td>
            </tr>
          </ng-template>
    </p-table>

    <!-- <div class="footer">
        <button pButton type="button" label="Add Image" (click)="changeAddImageDisplay()"></button>
        <button pButton type="button" label="Actions"></button>
    </div> -->

    <div class="flex" class="bttns">
        <button (click)="changeAddImageDisplay()" pButton type="button" label="Add Image"
            class="p-button-warning playlist-btn "></button>

        <!-- <p-menubar [model]="global.actionMenu" class="action-margin-right" style=" background-color: white; padding: 5px ; border:1px solid black; border-radius: 5px;" ></p-menubar> -->
        <p-overlayPanel #op>
            <ng-template pTemplate>
                <ul class="actions-ul">
                    <!-- <li class="p-2 list-item">
                        <i class="pi pi-pencil" style="font-size: 1em"></i>
                        <span class="ml-2">Edit</span>

                    </li>
                    <li class="p-2 list-item">
                        <i class="pi pi-copy" style="font-size: 1em"></i>
                        <span class="ml-2">Duplicate</span>

                    </li> -->
                    <li class="p-2 list-item" (click)="DeleteImages()">
                        <i class="pi pi-trash" style="font-size: 1em; color: #DD5A43;"></i>
                        <span class="ml-2" style="color: #DD5A43;">Delete</span>
                    </li>
                </ul>
            </ng-template>
        </p-overlayPanel>
        <button [disabled]=actionButton class="action-footer-btn" type="text" pButton label="Actions" (click)="op.toggle($event)"></button>
    </div>

    <!-- Tag dialogue---------------------- -->
    <p-dialog header="Create New Tag
    " [(visible)]="display" position="top">
        <input type="text" placeholder="Tag" (input)="tagCheck($event)" [(ngModel)]="createTag" pInputText class="tag-dialogue-input">
        <div class="tag-buttons">
            <button type="button" pButton (click)="chngeDisplay()">Cancel</button>
            <button type="button" [disabled]=tagButton pButton class="tag-buttons-create" (click)="createNewTag()">Create</button>
        </div>

    </p-dialog>

    <!-- add image Dialogue------------ -->
    <p-dialog header="Image Source" [(visible)]="displayAddImageModal" position="top">
        <span layout="row">
            <hr flex />
        </span>
        <div style="display:flex">
            <div class="image-dialogue" style="font-size: 3rem;" (click)="addImage()">
                <i class="pi pi-images dialogue-icon "></i>
                <p class="dialogue-font">Image File</p>
            </div>
        </div>
        <hr flex />
        <!-- <div style="width: 100%; border: 1px dotted grey;" *ngIf="isImage">
            <p-fileUpload name="myfile[]"></p-fileUpload>
        </div> -->

        <ngx-file-drop *ngIf="!file[0]&&isImage" [multiple]="true" contentClassName="file-dropzone"
            dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
            <a (click)="openFileSelector($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div class="upload-video-container" (click)="openFileSelector($event)">
                        <ng-container>
                            <a class="text-style-upload">Drop File Here or click to
                                choose</a>
                            <i class="pi pi-cloud-upload icon-size-upload"></i>
                        </ng-container>
                    </div>
                </ng-template>
            </a>
        </ngx-file-drop>
        <div *ngIf="file[0] &&isImage" style="width: 100%;">
            <ng-container *ngFor="let url of file">
                <span style="color:black ;border: 1px dotted orange; padding: 10px;">&nbsp; {{this.url.name}}</span>
            </ng-container>
        </div>
        <div style="margin-top: 14px; display: flex; justify-content: right; ">
            <button type="button" pButton (click)="changeAddImageDisplay()">Cancel</button>
            <button type="button" pButton style="margin-left: 10px;" (click)="createImages()">Create</button>
        </div>
    </p-dialog>

    <!-- Select Validity Dialog------------ -->
    <!-- <p-dialog header="Set Playlist Validity Date" [(visible)]="isValidityDialogue" position="center">

        <div style="display: flex; justify-content: space-between; min-height: 100px;">
            <p-calendar appendTo="body" [(ngModel)]="startDateValue" placeholder="Start Date" dateFormat="dd.mm.yy"></p-calendar>
            <p-calendar [(ngModel)]="endDateValue" appendTo="body" placeholder="End Date" dateFormat="dd.mm.yy"></p-calendar>
        </div>


    </p-dialog> -->

</div>
