.playlist-details-h {
    font-size: 22px;
    font-weight: 400;
}

.playlist-h {
    font-size: 18px;
    font-weight: 600;
}

.btns {
    width: 100px;
    height: 40px;
    margin-right: 15px;
}

.grid-margin {
    margin-top: 30px;
}

.droppable-container {
    // width: 100%;
    height: 240px;
    display: flex;
    // padding: 10px;
    overflow-x: scroll;
}

.color-oranger {
    color: orangered;
    font-size: 18px;
}

.count {
    border: 1px solid grey;
    color: orangered;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    // padding: 1px;
    background-color: #F6F8FB;
}

.droppable {
    border: 1px solid grey;
    margin-right: 10px;
}

.icon-size {
    font-size: 2rem;
}

.icon-margin {
    margin-left: 10px;
}

.droppable-img {
    margin-left: 5px
}

.cancel-btn {
    color: #777b86 !important;
    background-color: #eef2f6 !important;
    border: 1px solid lightgrey !important;
}

.save-btn {
    background: #F26F26 !important;
    border: 2px solid #F26F26 !important;
}

.preview {
    color: #F26F26;
    background: transparent !important;
    border: 2px solid #F26F26 !important;
}

.preview:hover {
    color: white;
    background: #F26F26 !important;
    border: 2px solid #F26F26 !important;
}

.all-media {
    color: #fff;
    width: auto;
    height: 40px;
    margin-right: 5px;
    font-size: 10px;
    background-color: #1e1c24;
    font-weight: 300 !important;
    cursor: default;
    border: none !important;
    box-shadow: none;
    margin-top: 0;
    z-index: 12;
    line-height: 16px;
    text-align: center;
}

.all-media:hover {
    background-color: #18171b !important;
}

.below-card-btns {
    color: #777b86 !important;
    width: auto;
    height: 40px;
    margin-right: 5px;
    text-align: center;
    background-color: #F6F8FB !important;
    border: 1px solid lightgrey !important;
    font-weight: 200 !important;
    font-size: 10px;
}

.below-card-btns:hover {
    background-color: #E7ECF2 !important;
}


// searchbar css
.search-container {
    // width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    margin: 0 auto;
    float: right;
    // width: 100%;
    height: 40px;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
        border: 2px solid #F26F26;
        transition: 0.35s ease;
        color: #191f22;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
}

.input-min-width {
    min-width: 100px
}

.change-layout {
    margin-left: 300px;
    margin-top: 30px;
    display: flex;
}

.change-layout-btn {
    width: 100%;
}

.input-filed-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.dragable-img {
    height: 170px;
    width: 180px;
    border: 1px solid black;
    margin-left: 10px;
}

.draggable-item {
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid rgb(230, 224, 224);
    align-items: center;
}

// input {
//     background: url("/assets/demo/images/svgs/search-small.svg") right no-repeat;
// }

::ng-deep .p-dialog-draggable {
    width: 40%;
}

// ::ng-deep .p-dialog-draggable .p-dialog-header {
//     background-color: lightsalmon;
//     display: flex;
//     justify-content: space-around;
// }


::ng-deep .p-dialog-title {
    width: 100%;
}

@media screen and (max-width: 995px) {
    .input-min-width {
        margin-left: 0px;

    }
}
@media screen and (max-width: 420px) {
    .grid-bttn {
        justify-content: space-between;
    }
}
@media screen and (max-width: 760px) {
    .grid-bttn {
        display: flex;
        align-items: center;
    }

    .btns {
        margin: 0 5px;
    }

    .input-filed-container {
        margin: 20px 20px 0;
        display: flow-root;
    }

    .input-min-width {
        margin: 5px 0;
    }

    .change-layout {
        margin-left: 140px;
    }

    .change-layout-btn {
        width: 50%;
        margin: 30px auto 0;
    }

    .layout-bttn {
        display: contents;
    }

}

.pointer{
    cursor: pointer;
}
