.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
        border: 2px solid #F26F26;
        transition: 0.35s ease;
        color: #191f22;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
}



input {
    background: url("/assets/demo/images/svgs/search-small.svg") right no-repeat;
}

.all-items-h {
    font-size: 18px;
    font-weight: 700;
}

.p-table {
    border-collapse: separate !important;
    border-spacing: 0 5px !important;
}

::ng-deep .p-dropdown {
    background: none !important;
    border: none !important;
}

::ng-deep .p-menubar {
    padding: 0;
    background: none;
    color: #495057;
    border: none;
    border-radius: none;
}

::ng-deep .p-menubar .p-submenu-list {
    width: 8.5rem;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
    font-size: 0;
}

::ng-deep .p-paginator {
    background: none;
}

::ng-deep .p-paginator {
    justify-content: end !important;
}

.playlist-btn {
    background-color: #f26f26;
    color: #fff;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #f26f26;
    width: 116px;
    // height: 50px;
    margin-right: 10px;
}

// three dots css start
.three-dots-btn {
    width: 35px !important;
    height: 35px !important;
    border-radius: 100% !important;
    padding: 0px 10px 10px 10px !important;
    background: transparent !important;
    color: black !important;
    border: none !important;
}


.p-button:focus {
    box-shadow: none !important;
    background: #F6F8FB !important;
    color: #DD5A43 !important;
}
.three-dots-btn:hover {
    background: #F6F8FB !important;
    color: #DD5A43 !important;
}
.actions-ul{
    list-style-type: none;
    padding: 0;

    .list-item:hover {
        background: #F6F8FB !important;
        cursor: pointer;
        border-radius: 5px;
    }
}

.action-margin-right {
    margin-left: 10px;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0px 10px !important;
}
// three dots css end


// footer buttons css start
.action-footer-btn{
    width:100px;
    height: 41px;
    color: #1e1c2478;
    background-color: white;
    padding: 5px ;
    border:1px solid black;
    border-radius: 5px;
}
.action-footer-btn:hover {
    background: none !important;
    color: #1e1c2478 !important;
}
// footer buttons css end

@media screen and (max-width: 768px) {
    .playlist-btn {
        width: 270px;
    }

    .action-margin-right {
        width: 95px;
        background-color: transparent !important;
        justify-content: center;
        display: flex;
        align-items: center;
        border: 1px solid #1e1c246b !important;
    }
}
::ng-deep .p-paginator {
    @media screen and (max-width: 768px) {
        justify-content: center !important;
    }
}

@media screen and (max-width: 464px) {
    .bttns {
        flex-direction: column;
    }

    .action-margin-right {
        margin: 10px 0 0;
    }
    // footer buttons css start
    .action-footer-btn{
       margin-top: 10px;
    }
    // footer buttons css end
}

::ng-deep .p-paginator {
    @media screen and (max-width: 464px) {
        justify-content: start !important;
    }
}


::ng-deep .row-accessories {
    background-color: rgba(0, 0, 0, .15) !important;
}

.table-with-margin table {
    border-spacing: 0 1em !important;
    border-collapse: separate;
}

.action-btn {
    width: 90px !important;
    // height: 50px;
    color: #1e1c24;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #1e1c24;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-align: left;
    border-width: 0 0 6px 0 !important;
    border: 1px solid #eff3f8;
    padding: 1rem 1rem;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


::ng-deep .p-datatable .p-datatable-tbody>tr:first-child td {
    border-top-style: solid;
}

::ng-deep .p-datatable .p-datatable-tbody>tr td:last-child {
    border-left-style: solid;
}
