
<div class="grid p-fluid">
    <div *ngIf="loader==true">
        <div class="site-loader" id="site-loader">
            <span class="loader-spin"></span>
        </div>
    </div>
   
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <input type="text" (input)="search($event)" id="search-bar" pInputText placeholder="Search in all Items">
        </div>
    </div>
    <div class="col-12 md:col-12 pb-0">
        <h2 class="all-items-h mb-0">All Items</h2>
    </div>
    <div class="col-12 md:col-3 pb-0">
        <!-- <div class="flex align-items-center">

            <span class="items-p">2 items | Per page:
            </span>
            <span class="dropdown-container"><p-dropdown [options]="itemsCount" [(ngModel)]="selectedCount"
                    optionLabel="count" optionValue="count"></p-dropdown></span>
        </div> -->
    </div>
    <div class="col-12 md:col-12">
        <div class="table-with-margin">
            <p-table [value]="allRecords" sortMode="multiple" [(selection)]="dtSelectedRows" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[10,20,50,100,{showAll:'All'}]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true" 
                [tableStyle]="{'width': '100%', 'border-bottom-spacing':'10px'}">
                <ng-template pTemplate="header" style="background: transparent;">
                    <tr>
                        <th style="width:5%; background: none;">
                            <p-tableHeaderCheckbox (click)="checkVal()"></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name" style="width:10%; background: none;">Name <p-sortIcon
                                field="name"></p-sortIcon></th>
                        <th pSortableColumn="description" style="width:20%; background: none">Description<p-sortIcon
                            field="description"></p-sortIcon></th>
                        <!-- <th pSortableColumn="category" style="width:20%; background: none">Modified </th> -->
                        <th pSortableColumn="layout" style="width:15%; background: none">Layout <p-sortIcon
                            field="layout"></p-sortIcon></th>
                        <th pSortableColumn="totalDuration" style="width:15%; background: none">Duration <p-sortIcon
                            field="totalDuration"></p-sortIcon></th>
                        <th style="width:10%; background: none">Action </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-records>
                    <tr class="card let-product-card" style="height: 70px;" (dblclick)="edit(records)">
                        <td>
                            <p-tableCheckbox (click)="checkVal()" [value]="records"></p-tableCheckbox>
                        </td>
                        <td>{{records.name}}</td>
                        <td>{{records.description}}</td>
                        <!-- <td>Nov 29th, 2022 - 03:27</td> -->
                        <td>{{records.layout}}</td>
                        <td>{{global.time_convert(records.totalDuration)}}</td>

<!-- 
                        <td>
                            <i class="pi pi-images
                        " style="color: green;"></i>
                            <i class="pi pi-video
                        " style="color: black; margin-left: 5px;"></i>
                        </td> -->
                      
                        <td>
                            <!-- <p-menubar [baseZIndex]="10000" [autoZIndex]="false"
                                [model]="items"></p-menubar> -->
                                <p-overlayPanel #op>
                                    <ng-template pTemplate>
                                        <ul class="actions-ul">
                                            <li class="p-2 list-item" (click)="edit(records)">
                                                    <i class="pi pi-pencil" style="font-size: 1em"></i>
                                                <span class="ml-2">Edit</span>

                                            </li>
                                            <!-- <li class="p-2 list-item">
                                                    <i class="pi pi-copy" style="font-size: 1em"></i>
                                                    <span class="ml-2">Duplicate</span>

                                            </li> -->
                                            <li class="p-2 list-item" (click)="Delete(records.name)">
                                                    <i class="pi pi-trash" style="font-size: 1em; color: #DD5A43;"></i>
                                                    <span class="ml-2" style="color: #DD5A43;">Delete</span>
                                            </li>
                                        </ul>
                                    </ng-template>
                                </p-overlayPanel>
                                <button class="three-dots-btn"  type="text" pButton label="..." (click)="op.toggle($event)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="30" class="text-center">
                        <strong *ngIf="noRecord">No records found</strong>
                      </td>
                    </tr>
                  </ng-template>
            </p-table>
            <div class="flex bttns">
                <button routerLink="/main/playlist-details" pButton type="button" label="Add Playlist"
                    class="p-button-warning playlist-btn "></button>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <ul class="actions-ul">
                                <li class="p-2 list-item">
                                        <i class="pi pi-pencil" style="font-size: 1em"></i>
                                    <span class="ml-2">Edit</span>

                                </li>
                                <!-- <li class="p-2 list-item">
                                        <i class="pi pi-copy" style="font-size: 1em"></i>
                                        <span class="ml-2">Duplicate</span>

                                </li> -->
                                <li class="p-2 list-item" >
                                        <i class="pi pi-trash" (click)="DeletePlaylists()" style="font-size: 1em; color: #DD5A43;"></i>
                                        <span class="ml-2" style="color: #DD5A43;">Delete</span>
                                </li>
                            </ul>
                        </ng-template>
                    </p-overlayPanel>
                    <button class="action-footer-btn" [disabled]=actionButton
                     type="text" pButton label="Actions" (click)="op.toggle($event)"></button>

            </div>
        </div>


    </div>


</div>
