<div class="layout-topbar justify-content-between">
    <div class="flex justify-content-between">

        <a class="layout-topbar-logo" routerLink="">
            <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png"
                alt="logo">
         
        </a>

        <button #menubutton class="p-link layout-menu-button layout-topbar-button"
            (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>

    </div>
    <div class="">
        <p-overlayPanel #op>
            <ng-template pTemplate>
                <ul class="actions-ul">
                    <li class="p-2 list-item" routerLink="/settings" (click)="this.model.hide();">
                        <i class="pi pi-cog" style="font-size: 1em"></i>
                        <span class="ml-2">Setting</span>

                    </li>
                    <li class="p-2 list-item" routerLink="/main/profile" (click)="this.model.hide();">
                        <i class="pi pi-user" style="font-size: 1em"></i>
                        <span class="ml-2">Profile</span>

                    </li>
                    <li class="p-2 list-item">
                        <i class="pi pi-sign-out" style="font-size: 1em; color: #DD5A43;"></i>
                        <span class="ml-2" style="color: #DD5A43;" (click)="authService.logout()">Log Out</span>
                    </li>
                </ul>
            </ng-template>
        </p-overlayPanel>
        <button class="action-footer-btn pi pi-cog" type="text" pButton label="test" (click)="op.toggle($event)"></button>
    </div>
</div>
