// three dots css start
.three-dots-btn {
    width: 35px !important;
    height: 35px !important;
    border-radius: 100% !important;
    padding: 0px 10px 10px 10px !important;
    background: transparent !important;
    color: black !important;
    border: none !important;
}


.p-button:focus {
    box-shadow: none !important;
    background: #F6F8FB !important;
    color: #DD5A43 !important;
}

.three-dots-btn:hover {
    background: #F6F8FB !important;
    color: #DD5A43 !important;
}

.actions-ul {
    list-style-type: none;
    padding: 0;

    .list-item:hover {
        background: #F6F8FB !important;
        cursor: pointer;
        border-radius: 5px;
    }
}

.action-margin-right {
    margin-left: 10px;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0px 10px !important;
}

// three dots css end

.action-footer-btn {
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    border: none;
    color: #393939b5;
}

.action-footer-btn:hover {
    background-color: #F6F8FB;
}