.selected-template {
  background: #fff;
  width: 526px;
  height: 407px;
  margin: 75px auto 0;

  img {
    width: 100%;
  }
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ml-10 {
  margin-left: 10px;
}
.example-boundary {
  background: #fff;
  margin: 40px auto 0;
  border-collapse: collapse;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.image2 {
      width: auto;
      height: 30px;
      object-fit: contain;
    }
  }
  
}

.drop {
  height: 140px;
  border: 1px solid #000;
  width: 185px;

  img {
    width: 100%;
    height: 100px;
  }
  input {
    width: 100%;
    height: 50px;
    background: transparent;
  }
}
.activeCell {
  border: 1.0px solid #ff0000;
}

.TextOverImage {
  position: relative;
  text-align: center;
  color: white;
}
.image2 {
  position: absolute;
  top: 70%;
  left: 50%;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
}

.ql-editor {
  overflow: hidden ;
}