body {
    margin-top: 20px;
    background-color: #f2f6fc;
    color: #69707a;
}

.img-account-profile {
    margin-top: 10px;
    width: 5rem;
    height: 5rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0px 3px 5px rgb(0 0 0 / 2%), 0px 0px 2px rgb(0 0 0 / 5%), 0px 1px 4px rgb(0 0 0 / 8%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}


.upload-img-btn {
    width: 100px;
    background-color: #f26f26 !important;
    border: 1px solid #f26f26;
}

.save {
    width: 130px;
    height: 40px;
    background-color: #f26f26 !important;
    border: 1px solid #f26f26;
}

.save:hover {
    background-color: #d16125 !important;
    border: 1px solid #f26f26;
}

::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #f26f26 !important;
    background: #f26f26 !important;
}
