<div class="container-xl px-4 mt-3">
    <div class="grid p-fluid">
        <div class="col-12 p-0">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header mb-3">Account Details</div>
                <div class="card-body">
                     <!-- Profile picture card-->
            <div class="mb-4 mb-xl-0">
                <div class="text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2"
                        src="/assets/images/Real Estate 1.jpeg" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button pButton type="button" label="Upload" class="ui-button-raised ui-button-rounded upload-img-btn"></button>
                </div>
            </div>
                    <form>
                        <!-- Form Row-->
                            <div class="formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" type="text" placeholder="First Name" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label for="lastName">Last Name</label>
                                    <input id="lastName" type="text" placeholder="Last Name" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                </div>
                            </div>
                       <!-- Form Row-->
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label for="email">Email</label>
                                <input id="email" type="text" disabled placeholder="abc@gmail.com" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="phoneNumber">Phone number</label>
                                <input id="phoneNumber" placeholder="Phone Number" type="tel" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label for="address">Address</label>
                                <input id="address" type="text" placeholder="Address" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="birthday">Birthday</label>
                                <input id="birthday" placeholder="Enter your birthday"  type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                        </div>
                        <div class="formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="gender">Gender</label>
                        <div class="formgroup-inline">
                            <div class="field-radiobutton">
                                <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue"></p-radioButton>
                                <label for="male">Male</label>
                            </div>
                            <div class="field-radiobutton">
                                <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"></p-radioButton>
                                <label for="female">Female</label>
                            </div>
                        </div>
                        </div>
                    </div>
                        <!-- Save changes button-->
                            <div class="">
                                <button pButton type="button" label="Save Changes" class="ui-button-raised ui-button-rounded save"></button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
