<div>
    <div *ngIf="loader==true">
        <div class="site-loader" id="site-loader">
            <span class="loader-spin"></span>
        </div>
    </div>
    <div class="container1">
        <p class="header">
            Installation Settings
        </p>

        <div class="dataparent-container ">
            <div class="container1-data">
                <div class="input-filed-container">
                    <p class="input-label-width"> <b>username at pisignage.com</b></p>
                    <div class="flex">
                        <input class="input-magin-right input-email" type="text" pInputText [(ngModel)]="userNameAtPisigange">
                        <button pButton pRipple type="button" label="SAVE" class="p-button-warning"></button>
                    </div>
                </div>
                <div class="input-filed-container">
                    <p class="input-label-width"> <b> SSH Password</b></p>
                    <div class="flex">
                        <input class="input-magin-right" type="password" pInputText [(ngModel)]="sshPassword">
                        <button class="input-magin-left" pButton pRipple type="button" label="SAVE"
                            class="p-button-warning"></button>
                    </div>
                </div>
                <div class="input-filed-container">
                    <p class="input-label-width"> <b>Default duration for Slides</b></p>
                    <div class="flex">
                        <input class="input-magin-right" type="text" pInputText [(ngModel)]="duration">
                        <button class="input-magin-left" pButton pRipple type="button" label="SAVE"
                            class="p-button-warning"></button>
                    </div>
                </div>


            </div>

        </div>

        <div *ngIf="!this.userType" class="check-box-container">
            <div class="field-checkbox" *ngFor="let item of rules; index as i">
                <p-checkbox  [binary]="true"  [(ngModel)]="item.value" (onChange)="selectRules($event,item.value)" inputId="ny"></p-checkbox>
                <label for="ny" id="rule{{i}}">{{item.label}}</label>
            </div>
        </div>


        <div class=" container1-data">
            <div class="input-filed-container">
                <p class="input-label-width"> <b> player reporting interval in minutes</b></p>
                <div class="flex">
                    <input class="input-magin-right" type="text" pInputText [(ngModel)]="reportingInetrval">
                    <button class="input-magin-left" pButton pRipple type="button" label="SAVE"
                        class="p-button-warning"></button>
                </div>
            </div>
        </div>
        <div class="check-box-container">
            <div class="field-checkbox">
                <p-checkbox [binary]="true" [(ngModel)]="isLogEnabled"
                    inputId="ny"></p-checkbox>
                <label for="ny" id="log">Enable log for file play count/details(network intensive, do not enable unless
                    you need it)</label>
            </div>
        </div>

    </div>

    <div>
    </div>


    <div class="container2">
        <p class="header">
            Set Username and password for download access
        </p>

        <div class="dataparent-container ">
            <div class="container1-data">
                <div class="input-filed-container">
                    <p class="input-label-width"> <b>username </b></p>

                    <input class="input-magin-right" type="text" pInputText [(ngModel)]="username">
                </div>
                <div class="input-filed-container">
                    <p class="input-label-width"> <b>Password</b></p>
                    <div class="flex">
                        <input class="input-magin-right" type="password" pInputText [(ngModel)]="password">
                        <button class="input-magin-left" pButton pRipple type="button" label="SAVE"
                            class="p-button-warning"></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
