.container1 {
    border: 1px solid darkblue;
    border-radius: 10px;
}

.container2 {
    border: 1px solid darkblue;
    border-radius: 10px;
    margin-top: 20px;

}

input {
    margin-right: 5px;
}

.header {
    background-color: lightsalmon;
    color: white;
    padding: 15px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
    overflow: hidden;
}

.dataparent-container {
    padding: 10px;
    width: 100%;
}

.container1-data {
    margin-left: 200px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
}

.input-label-width {
    min-width: 180px;
    text-align: right;
}

.input-magin-right {
    margin-left: 20px;
}

.input-magin-left {
    margin-left: 50px;
}

.input-filed-container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
}

.check-box-container {
    margin-left: 415px;
}

::ng-deep .p-inputtext {
    border-top-left-radius: 6px;
    /* border-bottom: 6px; */
    border-bottom-left-radius: 6px;
}

@media screen and (max-width: 995px) {
    .check-box-container {
        margin-left: 20px;
    }

    .container1-data {
        margin-left: 20px;
    }
}

@media(max-width: 575px) {
    .input-magin-right {
        margin-left: 0px;
        margin-right: 5px;
    }

    .input-label-width {
        margin-right: 5px;
        min-width: 0px;
    }
    .input-filed-container {
        align-items: baseline;
    }
}

@media(min-width:460px) and (max-width:560px) {
    .input-label-width {
        min-width: 180px;
    }
}

@media(min-width:300px) and (max-width:350px) {
    input {
        width: 140px;
    }

    .input-label-width {
        margin-right: 5px;
        min-width: 0px;
    }

    .dataparent-container {
        padding: 10px 10px 10px 0;
    }
}
