/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.search-input {
    width: 33%;
}

.input-search {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 1px solid transparent;
    padding: 7px 75px 7px 16px;
}

.site-loader {
    background: #eff3f8;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
	transition: .3s color, .3s border, .3s transform, .3s opacity;
}

.loader-spin {
	position: relative;
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
		border: .1em solid transparent;
		border-bottom-color: #495057;
		top: 0;
		left: 0;
		animation: 1s loader-spin linear infinite;
	}
	&:before {
		width: 1em;
		height: 1em;
	}
	&:after {
		width: .8em;
		height: .8em;
		top: .1em;
		left: .1em;
		animation-direction: reverse;
	}
}

@keyframes loader-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#site-loader {
    // animation: cssAnimation 0s 3s forwards;
    visibility: visible;
  }

  @keyframes cssAnimation {
    to   { visibility: hidden; }
  }
