.container {
    padding: 15px
}

.icon-color {
    color: black;
}

.upload-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 1px dotted grey;
}


.icon-size-upload {
    font-size: 2.5rem;
    margin-bottom: 39px;
}

.text-style-upload {
    font-size: 18px;
    color: grey;
    font-weight: 600;
}

.tag-input {
    background: #FFFFFF;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 10px !important;
    margin-left: 15px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}



.footer {
    position: fixed;
    bottom: 0px;

}

.footer-action {
    margin-left: 5px;
}

.n-items {
    display: flex;
    color: grey;
}

.tag-dialogue-input {
    width: 30%;
}

.tag-buttons {
    margin-top: 14px;
    display: flex;
    justify-content: right;
}

.tag-buttons-create {
    margin-left: 10px;
}


.image-dialogue {
    // width: 100px;
    // height: 100px;
    background-color: #EFF3F8;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dialogue-font {
    font-size: 16px;

}

.playlist-btn {
    background-color: #f26f26;
    // color: #fff;
    // font-style: normal;
    // border-radius: 5px;
    border: 1px solid #f26f26;
    // width: 116px;
    // height: 50px;
    // width: 100%;
    // margin-right: 10px;
    // width: 100%;
}

.action-margin-right {
    margin-left: 10px;
}

.action-btn {
    width: 90px !important;
    // height: 50px;
    color: #1e1c24;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #1e1c24;
}

// search and display change css start
.search-display-container {
    display: flex;
    align-items: center;
}

// search and display change css end

// three dots css start
.three-dots-btn {
    width: 35px !important;
    height: 35px !important;
    border-radius: 100% !important;
    padding: 0px 10px 10px 10px !important;
    background: transparent !important;
    color: black !important;
    border: none !important;
}


.p-button:focus {
    box-shadow: none !important;
    background: #F6F8FB !important;
    color: #DD5A43 !important;
}

.three-dots-btn:hover {
    background: #F6F8FB !important;
    color: #DD5A43 !important;
}

.actions-ul {
    list-style-type: none;
    padding: 0;

    .list-item:hover {
        background: #F6F8FB !important;
        cursor: pointer;
        border-radius: 5px;
    }
}

.action-margin-right {
    margin-left: 10px;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0px 10px !important;
}

// three dots css end



// footer buttons css start
.action-footer-btn {
    width: 100px;
    height: 41px;
    margin-left: 10px;
    color: #1e1c2478;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.action-footer-btn:hover {
    background: none !important;
    color: #1e1c2478 !important;
}

// footer buttons css end

// ::ng-deep .p-inputtext {
//     /* styles here */
//     // border: 0px;
// }

::ng-deep .p-dialog {
    width: 40%;
}

::ng-deep.p-dialog {
    @media screen and (max-width: 768px) {
        width: 95% !important;
    }
}

@media screen and (max-width: 768px) {
    .playlist-btn {
        width: 270px;
    }

    .action-margin-right {
        width: 95px;
        background-color: transparent !important;
        justify-content: center;
        display: flex;
        align-items: center;
        border: 1px solid #1e1c246b !important;
    }

    .container {
        padding: 0px
    }

    // search and display change css start
    .search-display-container {
        display: flex;
        justify-content: end;
    }

    .search-input {
        width: 7%;
    }

    .test-input {
        width: 50px;
    }

    .input-span-full-width {
        width: 100% !important;
    }

    // search and display change css end

}

@media screen and (max-width: 464px) {
    .bttns {
        flex-direction: column;
    }

    .action-margin-right {
        margin: 10px 0 0;
    }

    .container {
        padding: 0px
    }

    // search and display change css start
    .search-display-container {
        display: flex;
        justify-content: end;
    }

    .search-input {
        width: 20%;
    }

    .test-input-full-width {
        width: 100% !important;
    }

    // search and display change css end

    .action-footer-btn {
        margin-top: 10px;
    }
}


// ::ng-deep.action-margin-right {
//     @media screen and (max-width: 768px) {
//         width: 95px;
//         background-color: transparent !important;
//         border: 1px solid #1e1c24 !important;
//     }
// }

::ng-deep .p-dropdown {
    background: none !important;
    border: none !important;
}

::ng-deep .p-menubar {
    padding: 0;
    background: none;
    color: #495057;
    border: none;
    border-radius: none;
}

::ng-deep .p-menubar .p-submenu-list {
    width: 8.5rem;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
    font-size: 0;
}

::ng-deep .p-paginator {
    background: none;
}

::ng-deep .p-paginator {
    justify-content: end !important;
}

// ::ng-deep .ng-star-inserted{
//     // margin-top: 1rem
//    }

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    border-width: 0 0 0px 0 !important;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-align: left;
    border-width: 0 0 6px 0 !important;
    border: 1px solid #eff3f8;
    padding: 1rem 1rem;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-tbody>tr:first-child td {
    border-top-style: solid;
}

::ng-deep .p-datatable .p-datatable-tbody>tr td:last-child {
    border-left-style: solid;
}

::ng-deep .p-paginator {
    @media screen and (max-width: 768px) {
        justify-content: center !important;
    }
}

::ng-deep .p-paginator {
    @media screen and (max-width: 464px) {
        justify-content: start !important;
    }
}
